* {
    box-sizing: border-box;
}
* {
    border-radius: 1px;
}

.header {
    background-image: url(./images/header2.png);
    background-position: 5rem;
    background-color: black;
    height: 285px;
}

.follow {
    position:absolute;
    top:20px;
    right:20px;
}

.grid-by-example {
    margin-top: 50px;
    color:white;
    text-decoration: none;
    font-weight: bold;
    font-size:2.5rem;
    
}

h1 {
    padding-top: 120px;
    padding-left: 68px;
    padding-bottom: 17px;
}

p {
    color:azure;
    padding-top: 5px;
    padding-left: 68px;
}

.main {
    border-bottom: 1px solid #222;
    background-color: rgba(255, 255, 255, 0.6);
    transition: all;
    transition-duration: .5s;
    text-decoration: none;
    padding-top:6px
    text-align: center;
}

.main .nav {
    list-style: none;
    margin: 0 auto;
    width: 90%;
    height: 16%;
    max-width: 1600px;
    padding: 6px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 1px;
   
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li {
    text-align:center;
}

.main .nav a:link, .main .nav a:visited {
    text-decoration: none;
    display: block;
    padding: 0.2rem 2rem;
    margin: 0;
    color: black;
    font-weight: bold;
}

a:hover.nav {
    background-color:azure;
    height:100%;
  }

  /*Grid Layout*/

.card1{
    margin-top: 30px;
    background-image: url(./images/header2.png);
    height:180px;
    margin-left: 70px;
  
    border: 1px solid lightslategray;
}

.card-title1 {
    color:white;
    margin:0;
    padding:20px;
    font-weight: bold;
    font-size: 40px;

}

.card-text1 {
    color:white;
    padding-left: 20px;
    margin-top:0;
}

.rachel {
    color:white;
}

.card2{
    margin-top: 30px;
    background-image: url(./images/header1.png);
    height:180px;
    margin-right: 70px; 
    border: 1px solid lightslategray;
}

.card-title2 {
    color:black;
    margin:0;
    padding-top:30px;
    padding-left: 20px;
    text-decoration: none;
    font-weight: bold;
}

.card-text2 {
    color:black;
    margin:0;
    padding-left: 20px;   
    text-decoration: none;
}

body {
   margin:0;
}
.card3 {
    background-color:#5e35b1;
    margin-top:30px;
    margin-left:70px;
    margin-right:70px;
    border: 1px solid lightslategray;
    height:15vh;
}

.card-title3 {
    color:white;
    font-weight: bold;
    text-decoration: none;
    margin-top: 4px;
    align-items: center;
   margin-left: 20px;
}

.card-text3 {
    padding-left: 20px;
    text-decoration: none;
}

.card4 {
    background-image: url(./images/header1.png);
    border: 1px solid lightslategray;
    border-radius: 1px;
    margin-top: 30px;
    height: 180px;
    margin-left: 70px;
    margin-right: 5px;
}

.card-title4 {
    color:black;
    text-decoration: none;
    padding-left: 20px;
    padding-top: 0.09px;
    margin-top: 30px;
    font-weight: bold;
}

.card-text4 {
    padding-left: 20px;
    color:black;
    text-decoration: none;
    font-weight: lighter;
}

.card5 {
    background-image: url(./images/header1.png);
    border: 1px solid lightslategray;
    border-radius: 1px;
    margin-top: 30px;
    height:180px;
    margin-right: 70px;
    
}
.card-title5 {
    color:black;
    text-decoration: none;
    margin-top: 0;
    padding-left: 20px;
    padding-top: 10px;
    font-weight: bold;
}

.card-text5 {
    padding-left: 20px;
    color:black;
    text-decoration: none;
    font-weight: lighter;
}

.card6{
    margin-top: 30px;
    background-image: url(./images/header1.png);
    height:170px;
    margin-left: 70px;
    width:870px;
    border: 1px solid lightslategray;
}

.card-title6 {
    color:black;
    margin:0;
    padding:20px;
    font-weight: bold;
    font-size: 40px;

}

.card-text6 {
    color:black;
    padding-left: 20px;
    margin-top:0;
    font-weight: lighter;
}
.card7{
    margin-top: 30px;
    background-image: url(./images/header1.png);
    height:170px;
    margin-right: 70px;
    margin-left:250px;
    border: 1px solid lightslategray;
}
.card-title7 {
    color:black;
    margin:0;
    padding-top:20px;
    padding-left: 20px;
    text-decoration: none;
    font-weight: bold;
}

.card-text7 {
    color:black;
    margin:0;
    padding-left: 20px;   
    text-decoration: none;
    font-weight: lighter;
}
.card8 {
    margin-top: 30px;
    background-image: url(./images/header1.png);
    height:150px;
    margin-left: 70px;
   
    border: 1px solid lightslategray;
}
.card-title8 {
    color:black;
    margin:0;
    padding-top:20px;
    padding-left: 20px;
    text-decoration: none;
    font-weight: bold;
}
.card-text8 {
    color:black;
    margin:0;
    padding-left: 20px;   
    text-decoration: none;
    font-weight: lighter;
}
.card9 {
    margin-top: 30px;
    background-image: url(./images/header1.png);
    height:150px;
    margin-left: 1px;
    border: 1px solid lightslategray;

}
.card-title9 {
    color:black;
    margin:0;
    padding-top:20px;
    padding-left: 20px;
    text-decoration: none;
    font-weight: bold;
}
.card-text9 {
    color:black;
    margin:0;
    padding-left: 20px;   
    text-decoration: none;
    font-weight: lighter;
}
.card10 {
    margin-top: 30px;
    background-image: url(./images/header1.png);
    height:150px;
    margin-right: 70px;  
    border: 1px solid lightslategray;
}
.card-title10 {
    color:black;
    margin:0;
    padding-top:20px;
    padding-left: 20px;
    text-decoration: none;
    font-weight: bold;
}
.card-text10 {
    color:black;
    margin:0;
    padding-left: 20px;   
    text-decoration: none;
    font-weight: lighter;
}
.card11 {
    background-image: url(./images/header1.png);
    margin-top:30px;
    margin-left:70px;
    margin-right:70px;
    border: 1px solid lightslategray;
    height:15vh;
}

.card-title11 {
    color:black;
    font-weight: bold;
    text-decoration: none;
    margin-top: 4px;
    margin-left: 1px;
}

.card-text11 {
    color:black;
    padding-left: 20px;
    text-decoration: none;
    font-weight: lighter;
}
.footer {
    background-image: url(./images/header2.png);
    background-position: 5rem;
    background-color: black;
    height: 230px;
    padding:1rem 0;
    padding-top: 1rem;
    padding-right: 0px;
    padding-bottom: 1rem;
    padding-left: 0px;
    margin:4rem 0 0 0;
    margin-top: 4rem;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}
.wrapper {
    background-color: rgba(255, 255, 255, 0.6);
    height:200px;
     transition: all;
    transition-duration: .5s;
    text-decoration: none;
    margin: 0 auto;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    width: 90%;
    max-width: 1600px;
}

ul {
    list-style-type: disc;
}
.footer .p {
    text-decoration: none;
    text-align: left;
    padding:0px;
    color:black
}
.lil {
    text-align: left;
    display: list-item;
}

::marker {
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important;
}

